<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'user:dashboard' %}" class="sign-in"><i class="fa fa-tachometer"></i>
                                Dashboard</a>
                        </li>

                        <li>
                            <a href="javascript:{document.getElementById('logout').submit()}" class="sign-in"><i
                                    class="fa fa-sign-out"></i> Logout</a>
                            <form action="{% url 'user:logout' %}" id="logout" method="POST">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'user:login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                        </li>
                        <li>
                            <a href="{% url 'user:registration' %}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->
